<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- https://jazz.net/wiki/bin/view/Main/JAFServiceFramework -->
<plugin>
   <extension
         point="com.ibm.team.repository.common.components">
      <component
            id="com.siemens.bt.jazz.services.WorkItemBulkMover"
            name="Siemens BT - Jazz Work Item Bulk Mover">
            <service
                  name="WorkItemBulkMover Service"
                  kind="MODELLED_REST"
                  uri="com.siemens.bt.jazz.services.WorkItemBulkMover.IWorkItemBulkMoverService"
                  version="1">
            </service>
      </component>
   </extension>
   <extension
         point="com.ibm.team.repository.service.serviceProvider">
      <serviceProvider
            componentId="com.siemens.bt.jazz.services.WorkItemBulkMover"
            implementationClass="com.siemens.bt.jazz.services.WorkItemBulkMover.WorkItemBulkMoverService">
         <provides>
             <providedService interface="com.siemens.bt.jazz.services.WorkItemBulkMover.IWorkItemBulkMoverService" />
         </provides>
         <prerequisites>
	         <optionalService
	               interface="com.ibm.team.repository.common.service.IContributorService">
	         </optionalService>
	         <optionalService
                interface="com.ibm.team.workitem.service.IWorkItemServer">
	         </optionalService>
             <optionalService
                     interface="com.ibm.team.process.service.IProcessServerService">
             </optionalService>
             <optionalService
                     interface="com.ibm.team.workitem.common.IWorkItemCommon">
             </optionalService>
             <optionalService
                     interface="com.ibm.team.links.common.service.ILinkService">
             </optionalService>
             <optionalService
                     interface="com.ibm.team.repository.service.IRepositoryItemService">
             </optionalService>
             <optionalService
                 interface="com.ibm.team.repository.common.internal.IContributorRestService">
             </optionalService>
         </prerequisites>
      </serviceProvider>
   </extension>
</plugin>
